<footer class="footer">
  <div class="content__wrapp">
      <div class="contacts">
        <div class="col-xl-9 col-sm-12">
          <div class="row">
            <div class="contacts__col col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <h4 class="contacts__title">
                Headquarters:
              </h4>
              <address class="contacts__address">
                <span class="contacts__address-text">11 E. Chavdar Street,</span>
                <span class="contacts__address-text">Office 222, Kiev, Ukraine 0</span>
              </address>
            </div>
            <div class="contacts__col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <h4 class="contacts__title">
                USA:
              </h4>
              <address class="contacts__address">
                <span class="contacts__address-text">
                      <a href="mailto:usa.hr@trinetix.com" class="contacts__address-email">
                  usa.hr@trinetix.com
                </a>
                </span>
                <span class="contacts__address-text">
               <a href="tel:+1 212-336-1440" class="contacts__address-tel">
                  +1 212-336-1440
                </a>
            </span>

              </address>
            </div>
            <div class="contacts__col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
              <h4 class="contacts__title">
                Ukraine:
              </h4>
              <address class="contacts__address">
                <span class="contacts__address-text">
                      <a href="mailto:ua.hr@trinetix.com" class="contacts__address-email">
                  ua.hr@trinetix.com
                </a>
                </span>
                <span class="contacts__address-text">
               <a href="tel:+38 044-334-2341" class="contacts__address-tel">
                  +38 044-334-2341
                </a>
            </span>

              </address>
            </div>
          </div>
        </div>
      </div>
  </div>

    <div class="footer__row">
      <div class="content__wrapp">
        <div class="container-fluid">
          <div class="row footer__row-wrapp">
            <div class="col-xl-2 col-lg-4 col-md-3 order-m-2 col-sm-12">
              <div class="footer__copy">
                © 2010-2015 Trinetix LLC
              </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6 d-m-none">
              <nav class="menu footer_menu">
                <ul class="menu__list d-flex">
                  <li class="menu__item">
                    <a href="" class="menu__link">Home</a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">Case Studies</a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">Services</a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">Expertise</a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">About</a>
                  </li>
                  <li class="menu__item ">
                    <a href="" class="menu__link white-border">Contact us</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 order-m-1 col-sm-3">
              <ul class="footer__social">
                <li class="social__item">
                  <a href="https://www.facebook.com/trinetix/" class="social__link icon-facebook" target="_blank">
                  </a>
                </li>
                <li class="social__item">
                  <a href="https://www.linkedin.com/company/trinetix-llc/" class="social__link icon-linkedin"
                     target="_blank">
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link icon-googleplus" target="_blank">

                  </a>
                </li>
                <li class="social__item">
                  <a href="https://twitter.com/trinetix" class="social__link icon-twitter" target="_blank"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
