
<div class="info">
  <div class="content__wrapp">
    <h1 class="title info__title">
      What We Do
    </h1>
    <div class="info__text">
      We launch different types of platforms and operating systems using distinguishes of every platform or operating
      system as adventage and a powerful tool.
    </div>
  </div>
</div>
<div class="services">
  <img src="assets/images/line_arrow.png" alt="" class="line__arrow">
  <div class="content__wrapp">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="services-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" >
            <div class="services__img">
              <img src="assets/images/mobapps.png" >
            </div>
            <div class="services__title">
              Mobile Apps
            </div>
            <div class="services__text">
              We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
              achieve their goals and grow their brands.
            </div>
            <a [routerLink]=" '/mobileapps' " class="services__link">
              learn More
            </a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="services-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
            <div class="services__img">
              <img src="assets/images/webservices.png" >
            </div>
            <div class="services__title">
              web services
            </div>
            <div class="services__text">
              We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
              achieve their goals and grow their brands.
            </div>
            <a [routerLink]=" '/webservices' " class="services__link">
              learn More
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="services-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
            <div class="services__img">
              <img src="assets/images/augmented.png">
            </div>
            <div class="services__title">
              Augmented Reality
            </div>
            <div class="services__text">
              We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
              achieve their goals and grow their brands.
            </div>
            <a [routerLink]=" '/augmentedreality' " class="services__link">
              learn More
            </a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="services-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
            <div class="services__img">
              <img src="assets/images/design.png">
            </div>
            <div class="services__title">
              UX/UI Design
            </div>
            <div class="services__text">
              We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
              achieve their goals and grow their brands.
            </div>
            <a [routerLink]=" '/design' " class="services__link">
              learn More
            </a>

          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="services-item wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
            <div class="services__img">
              <img src="assets/images/dev.png">
            </div>
            <div class="services__title">
              Development
            </div>
            <div class="services__text">
              We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
              achieve their goals and grow their brands.
            </div>
            <a [routerLink]=" '/development' " class="services__link">
              learn More
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

