<div class="page">
  <div class="content__wrapp">
    <h1 class="title page__title">
      augmented reality
    </h1>
    <img src="assets/images/augmented.png" class="page__img" alt="">
    <div class="page__text">
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
      We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
    </div>
  </div>
</div>
